[Unit]
Description=Mount Google Drive using rclone
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/bin/rclone mount bmsGDrive:Music /home/incognitux/Music/rclone \
  --dir-cache-time 12h \
  --vfs-cache-mode writes \
  --cache-dir /home/incognitux/.cache/rclone \
  --vfs-cache-max-size 2G \
  --vfs-read-ahead 32M \
  --buffer-size 32M \
  --vfs-read-chunk-size 32M \
  --vfs-read-chunk-size-limit off \
  --cache-workers 4 \
  --transfers 8 \
  --drive-pacer-min-sleep 10ms \
  --drive-pacer-burst 200

ExecStop=/bin/fusermount -u /home/incognitux/Music/rclone/
Restart=on-failure
RestartSec=20
User=incognitux
Group=incognitux
AmbientCapabilities=CAP_SYS_ADMIN
AllowSetGroups=true

[Install]
WantedBy=multi-user.target
